html {
    box-sizing: border-box;
    margin:0;
    padding:0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  a, a:hover, a:visited {
    color: inherit;
    text-decoration: inherit;
}

  body {
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;    
    letter-spacing: 0.02em;
    color:#6c757d;
  }

  .header {
      width:fit-content;
  }

  .headerItems {
      display:flex;
      column-gap: 1rem;
      align-items: center;
  }

  .headerItems>span {
    font-weight:bold;
  }
  .verticalBar {
      width: 5px;
      height:2.6rem;
      background-color: #FFD954;
  }

  .breadcrumb {
    background-color: #ffff;
  }

  .breadcrumb>.active {
    color:#FFD954;
  }

  .container {
    box-sizing: border-box;
    border: 2px solid #f0eded;
    box-shadow: 3px 3px 3px 3px rgba(206, 203, 203, 0.2);
    margin: auto;
    height: fit-content;
    padding:2rem;
  }

  .stepSelector {
    margin:auto;
    display:flex;
    justify-content: center;
  
  }

  .stepSelectorText {
    display:flex;
    margin:auto;
    justify-content: space-around;
    width: 42%;
    column-gap: 1.7rem;
    padding-top: 0.5rem;
    padding-bottom: 2rem;
    font-size: 10px;
  }

  .icon {
    padding: 5px;
    border: 1px solid #e2dfdf;
    border-radius: 50px;
  }
  .icon:active{
    background-color: #FFD954;
  }
  .hr {
      margin-top:1rem;
      width: 30vw;
      height: 1px;
      background-color:#e2dfdf;
  }

  /*SURVEY*/
  .surveyHeader {
      color: #FFD954;
      font-weight:bold;
      border: 1px solid #e2dfdf;
      width: fit-content;
      margin:auto;
      margin-top: 4em;
      margin-bottom: 2rem;
      border-radius: 10px;
  }

  .surveyHeaderFlex {
      display:flex;
      align-items:center;
      justify-content: space-evenly;
  }

  .surveyHeadline {
    color: #FFD954;
    padding: 1rem;
  }
  .headerIcon {
    /* display: none; must show on surveryHeader hover*/
    z-index: 10;
    background-color: #ffff;
    padding: 5px;
    border: 1px solid #e2dfdf;
    box-shadow: 1px 1px 1px 1px rgba(206, 203, 203, 0.2);
    border-radius: 50px;
  }

  /*RESULTS*/

  .resultsContainer {
    box-sizing: border-box;
  }
  
  .resultsQuestion {
    display:flex;
  }

  .resultsQuestion>span:nth-child(1){
    color:#FFD954;
    padding-right:0.5rem;
  }

  .table {
    box-sizing: border-box;
    color:#6c757d;
  }
  .tableHeader {
    background-color: rgba(206, 203, 203, 0.2);
  }

  .excel {
    float:right;
    font-size:12px;
    cursor:pointer;
  }

  @media (min-width: 60rem) { 
    body {
      padding:0 5rem;
    }

    .header {
      padding-top:2rem;
    }

    .stepSelectorText{
      width: 46%;
      column-gap: 2rem;
      font-size:12px;
    }

    .container {
      box-sizing: border-box;
    border: 2px solid #f0eded;
    box-shadow: 3px 3px 3px 3px rgba(206, 203, 203, 0.2);
    margin: auto;
    height: fit-content;
    margin-bottom: 5rem;
    margin-top: 2rem;
    padding:2rem;
    }

    .surveyHeader {
      margin-bottom: 3rem;
    }
  }

